# Copyright (c) 2022-2024 Aleksei Kotelnikov(gudron2s@gmail.com)
# License: MIT NON-AI

common:
  imagePullSecrets:
    - name: selectel

  db:
    host:
      _default: postgresql.default.svc.cluster.local
    port:
      _default: 5432

  vault:
    use_https:
      _default: false
    host:
      _default: vault.default.svc.cluster.local
    port:
      _default: 8200
    auth_method:
      _default: token
    token_renewal:
      enabled:
        _default: false
      interval:
        _default: 180s

  redis:
    host:
      _default: redis-master.default.svc.cluster.local
    port:
      _default: 6379

  nats:
    hosts:
      _default:
        - nats://nats.default.svc.cluster.local:4222

migrator:
  image:
    path: repository.local/crypto-bundle/bc-wallet-common-hdwallet-migrator
    tag: latest

  migration_dir: /opt/bc-wallet-common-migrator/migrations

  vault:
    data_path:
      _default:
        - kv/data/crypto-bundle/bc-wallet-ethereum-hdwallet/common
        - kv/data/crypto-bundle/bc-wallet-ethereum-hdwallet/migrator

controller:
  image:
    # Overrides the image tag whose default is the chart appVersion.
    path: repository.local/crypto-bundle/bc-wallet-common-hdwallet-controller
    tag: latest

  vault:
    data_path:
      _default:
        - kv/data/crypto-bundle/bc-wallet-common/jwt
        - kv/data/crypto-bundle/bc-wallet-common/transit
        - kv/data/crypto-bundle/bc-wallet-ethereum-hdwallet/common
        - kv/data/crypto-bundle/bc-wallet-ethereum-hdwallet/controller

api:
  image:
    path: repository.local/crypto-bundle/bc-wallet-ethereum-hdwallet-api
    tag: latest

  vault:
    data_path:
      _default:
        - kv/data/crypto-bundle/bc-wallet-common/transit
        - kv/data/crypto-bundle/bc-wallet-ethereum-hdwallet/common
        - kv/data/crypto-bundle/bc-wallet-ethereum-hdwallet/api